<section id="banner"
   style='background-image: url("images/bogen_orange_transp.png"),
    url("css/images/overlay.png"),
    url("{{ $.Site.Params.imagesConfig.cloudinaryURL }}/{{ $.Site.Params.imagesConfig.lightboxImageDownloadSize }}/{{ .Params.welcome_img }}");'
>
  <!--
                ".inner" is set up as an inline-block so it automatically expands
                in both directions to fit whatever's inside it. This means it won't
                automatically wrap lines, so be sure to use line breaks where
                appropriate (<br />).
            -->
  <div class="inner">
    {{ if .Params.page_header }}
    <header>
      <h2>{{ .Params.page_header }}</h2>
    </header>
    {{ end }}
    {{ if .Params.page_sub_header }}
    <p>{{ .Params.page_sub_header | safeHTML }}</p>
    {{ end }}
    <div id="header-bottom">

    </div>
    <ul class="buttons stacked">
      <li><a href="#main" class="button fit scrolly">{{ i18n "tell_me_more" }}</a></li>
    </ul>

  </div>

</section>
