<div class="container" id="contact">

    <div class="row">
        <div class="col-7 col-12-mobile col-12-narrow col-12-normal">

            <section class="wrapper style4 special medium">

                <header class="special">
                    <span class="icon fa-music"></span>
                    {{ .Content }}
                </header>

                    <div class="table-resp">
                        <table class="styled-table">
                            <thead>
                            <tr>
                                <th>{{ i18n "song_title" }}</th>
                                <th>{{ i18n "song_orig_interpret" }}</th>
                                <th>{{ i18n "song_music_text" }}</th>
                                <th>{{ i18n "song_arranged" }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ $repertoire := site.Data.repertoire }}
                            {{ range sort $repertoire "song_num" "desc" }}
                            <tr>
                                <td>{{ .song_title }}</td>
                                <td>{{ .song_orig_interpret }}</td>
                                <td>{{ .song_music_text }}</td>
                                <td>{{ .song_arranged }}</td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
            </section>

        </div>
    </div>
</div>
