<!--   Core JS Files   -->
<script src="{{ .Site.BaseURL }}js/core/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/core/jquery.dropotron.min.js"></script>
<script src="{{ .Site.BaseURL }}js/core/jquery.scrolly.min.js"></script>
<script src="{{ .Site.BaseURL }}js/core/jquery.scrollex.min.js"></script>
<script src="{{ .Site.BaseURL }}js/core/browser.min.js"></script>
<script src="{{ .Site.BaseURL }}js/core/breakpoints.min.js"></script>
<!-- project js files -->
<script src="{{ .Site.BaseURL }}js/util.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
