<header id="header" class="alt">
  {{ if isset .Site.Params "logo" }}
  <h1 id="logo">
    <a href="{{ "/" | absLangURL }}" title="{{.Site.Title}}">
    <img id="logo-img" src="{{ $.Site.Params.imagesConfig.cloudinaryURL }}/{{ $.Site.Params.imagesConfig.logoImageDownloadSize }}/{{ .Site.Params.logo}}">
    </a></h1>
  {{ end }}
  <nav id="nav">
    <ul>
      <li class="current"><a href="{{ "/" | absLangURL }}">{{ i18n "startpage_link" }}</a></li>
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="submenu">
        <a href="#">{{ .Name}}</a>
        <ul>
          {{ range .Children }}
          {{ if .HasChildren }}
          <li class="submenu">
            <a href="#">Submenu</a>
            <ul>
              {{ range .Children }}
              <li><a href="{{ .URL | absLangURL }}">{{ .Name}}</a></li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li><a href="{{ .URL | absLangURL }}">{{ .Name}}</a></li>
          {{ end }}
          {{ end }}
        </ul>
      </li>
      {{ else }}
      <li><a href="{{ .URL | absLangURL }}">{{ .Name}}</a></li>
      {{ end }}
      {{ end }}
    </ul>
  </nav>
</header>
