{{ define "main" }}
<!-- Main -->
				<article id="main">

					{{ with .Params.specials }}
					{{ block "specials" . }}{{ partial "specials.html" .specials }}{{ end }}
					{{ end }}

					<!-- Description Part -->
						<section class="container wrapper style2 special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

                  {{ .Content }}

									<footer>
										<ul class="buttons">
											<li><a href="{{ "/about/the_choir/" | absLangURL }}" class="button">{{ i18n "FindOutMore" }}</a></li>
										</ul>
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">

                  {{ .Params.sidebar_content | markdownify }}
								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">

                {{ $allvideos := where .Site.Pages "Type" "video" }}
                {{ $videos := first 3 ($allvideos.ByParam "weight").Reverse }}

                {{ range $videos }}
                {{ partial "video-preview.html" . }}
                {{ end }}

							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>{{ i18n "NextConcerts" }} <strong>{{ .Site.Title }}</strong></h2>
							</header>


              {{ $allevents := where .Site.Pages "Type" "event" }}
              {{ $events := ($allevents.ByParam "event.date").Reverse }}

              {{ $scratch := newScratch }}
              {{ $scratch.Set "border" -1 }}
              {{ range $index, $element := $events }}
              {{ if ge (time .Params.event.date).Unix now.Unix }}
              {{ $scratch.Set "border" $index }}
              {{ end }}
              {{ end }}

              {{ $border := add ($scratch.Get "border") 1 }}
              {{ $border }}
              {{ $v2 := first $border $events }}
              {{ $v1 := $events | complement $v2 }}

              <section class="wrapper style4 special blog-listing-big">
                <h1>{{ .Params.page_title }}</h1>
                {{ if eq (len $v1) 0 }}

                <div class="reminder">
                  <h1>{{ i18n "currentlyNoConcerts" }}</h1>
                </div>
                {{ else }}
                <h2>{{ i18n "ConcertsComingSoon" }}</h2>
                {{ range $v1 }}
                {{ partial "concert-listview-with-image.html" . }}
                {{ end }}
                {{ end }}

              </section>

							<footer class="major">
								<ul class="buttons">
                  <li><a href="{{ "/events/" | absLangURL }}" class="button">{{ i18n "ToConcertOverview" }}</a></li>
								</ul>
							</footer>

						</section>

				</article>
	{{ end }}
