{{ define "main" }}
<!-- Main -->
				<article id="main">

					{{ with .Params.specials }}
					{{ block "specials" . }}{{ partial "specials.html" .specials }}{{ end }}
					{{ end }}

					<!-- Short description about the choir -->
						<section class="container wrapper style2 special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

                  {{ .Content }}

									<footer>
										<ul class="buttons">
											<li><a href="{{ "/the_choir/" | absLangURL }}" class="button">{{ i18n "FindOutMore" }}</a></li>
										</ul>
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">
                                  {{ partial "newsletter-sign-up.html" . }}
                                  {{ .Params.sidebar_content | markdownify }}
								</div>
							</div>
						</section>

					<!-- selection of the best three videos -->
						<section class="wrapper style3 container special">
							<div class="row">

                {{ $allvideos := where .Site.Pages "Type" "video" }}
                {{ $videos := first 3 ($allvideos.ByParam "weight").Reverse }}

                {{ range $videos }}
                {{ partial "video-preview.html" . }}
                {{ end }}

							</div>
						</section>

					<!-- list of all concerts planned -->
						<section class="wrapper style3 container special">

              {{ $allevents := where .Site.Pages "Type" "event" }}
              {{ $events := ($allevents.ByParam "event.date") }}

              {{ $scratch := newScratch }}
              {{ $scratch.Set "border" -1 }}
              {{ range $index, $element := $events }}
              {{ if le (time .Params.event.date).Unix now.Unix }}
              {{ $scratch.Set "border" $index }}
              {{ end }}
              {{ end }}

              {{ $border := add ($scratch.Get "border") 1 }}
              {{ $v1 := first $border $events }}
              {{ $v2 := $events | complement $v1 }}

              <div class="concert-listing-small">
              {{ if eq (len $v2) 0 }}
                <p>
                  {{ i18n "currentlyNoConcerts" }}
                </p>
              {{ else }}
                <h2>{{ i18n "ConcertsComingSoon" }}</h2>
                {{ range $v2 }}
                <ul>
                {{ partial "concert-listview.html" . }}
                </ul>
                {{ end }}
              {{ end }}
              </div>

              <footer class="major">
								<ul class="buttons">
                  <li><a href="{{ "/events/" | absLangURL }}" class="button">{{ i18n "ToConcertOverview" }}</a></li>
								</ul>
							</footer>

						</section>

        <!-- Newsletter registraion -->
        <section class="wrapper style5 container special">
                    {{ partial "newsletter-sign-up.html" . }}
        </section>

                    <!-- Contact data and link to contact page -->
          <section class="wrapper style5 container special">
            <div class="row aln-center"><h4>{{ i18n "contactTitle" }}</h4></div>
            {{ with .Site.Params.contact }}

            <div class="row aln-center">{{ partial "rehersal.html" . }}</div>
            <div class="row aln-center">{{ partial "address.html" . }}</div>
            <div class="row aln-center">{{ partial "contact-phone-mail.html" . }}</div>

              {{ end }}

                <footer class="major">
                  <ul class="buttons">
                    <li><a href="{{ "/contact/" | absLangURL }}" class="button">{{ i18n "contactGoTo" }}</a></li>
                  </ul>
                </footer>

            </div>
          </section>

        </article>
	{{ end }}
