{{ define "main" }}
<!-- Main -->
				<article id="main">

					{{ with .Params.specials }}
					{{ block "specials" . }}{{ partial "specials.html" .specials }}{{ end }}
					{{ end }}

					<!-- Description Part -->
						<section class="container wrapper style2 special-alt">
							<div class="row gtr-50">
								<div class="col-8 col-12-narrower">

                  {{ .Content }}

									<footer>
										<ul class="buttons">
											<li><a href="{{ "/about/the_choir/" | absLangURL }}" class="button">{{ i18n "FindOutMore" }}</a></li>
										</ul>
									</footer>

								</div>
								<div class="col-4 col-12-narrower imp-narrower">

                  {{ .Params.sidebar_content | markdownify }}
								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">

                <!-- begin of single video section -->
								<div class="col-4 col-12-narrower">
									<section>
										<header>
											<h3>WAYS 2017</h3>
										</header>
                    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                      <iframe src="https://www.youtube.com/embed/lGYDHfkZ9PU" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="It Can Move You, Too - Zusammenschnitt des WAYS-Konzerts, Juli 2017"></iframe>
                    </div>
                    <p>Zusammenschnitt vom Konzert im Juli 2018</p>
									</section>
								</div>
                <!-- end of single video section -->

                <!-- begin of single video section -->
                <div class="col-4 col-12-narrower">
                  <section>
                    <header>
                      <h3>WAYS 2019</h3>
                    </header>
                    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                      <iframe src="https://player.vimeo.com/video/381526317" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allow="fullscreen" allowfullscreen title="September - WAYS Meets inspired! - Konzert vom 30. November 2019"></iframe>
                    </div>
                    <p>September - WAYS Meets inspired! - Konzert vom 30. November 2019</p>
                  </section>
                </div>
                <!-- end of single video section -->

							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>{{ i18n "NextConcerts" }} <strong>{{ .Site.Title }}</strong></h2>
							</header>


              {{ $allevents := where .Site.Pages "Type" "event" }}
              {{ $events := ($allevents.ByParam "event.date").Reverse }}

              {{ $scratch := newScratch }}
              {{ $scratch.Set "border" -1 }}
              {{ range $index, $element := $events }}
              {{ if ge (time .Params.event.date).Unix now.Unix }}
              {{ $scratch.Set "border" $index }}
              {{ end }}
              {{ end }}

              {{ $border := add ($scratch.Get "border") 1 }}
              {{ $border }}
              {{ $v2 := first $border $events }}
              {{ $v1 := $events | complement $v2 }}

              <section class="wrapper style4 special blog-listing-big">
                <h1>{{ .Params.page_title }}</h1>
                {{ if eq (len $v1) 0 }}

                <div class="reminder">
                  <h1>{{ i18n "currentlyNoConcerts" }}</h1>
                </div>
                {{ else }}
                <h2>{{ i18n "ConcertsComingSoon" }}</h2>
                {{ range $v1 }}
                {{ partial "concert-listview-with-image.html" . }}
                {{ end }}
                {{ end }}

              </section>

							<footer class="major">
								<ul class="buttons">
                  <li><a href="{{ "/events/" | absLangURL }}" class="button">{{ i18n "ToConcertOverview" }}</a></li>
								</ul>
							</footer>

						</section>

				</article>
	{{ end }}
